header.header
    .header__logo
        include ../../components/logo/logo
    .header__menu
        include ../../components/button/button
        +button('butter')
        include ../../components/hamburger/hamburger
