extends templates/base/main
block title
    | Home page
block css
    link(rel='stylesheet', href='css/index.css')
block header
    include templates/layouts/header/header
block section
    include templates/components/main_slider/main_slider
block tabs
    include templates/components/tabs/tabs

block JS
    script(src='js/index.js')
