doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='viewport', content='width=1024, initial-scale=1')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')

        title
            block title

        link(rel='stylesheet', href='css/app.min.css')
        block css
    body
        block header
        block section
        block tabs
        block about
        block footer

        script(src='js/libs.min.js')
        script(src='js/components/functions.js')
        block JS

